manifest {
    author = 'Torsten Houwaart'
    description = 'Novograph generate graph pipeline'
    homePage = 'https://github.com/TODO'
    mainScript = 'generate_graph.nf'
    name = 'generate Graph'
    nextflowVersion = '>=19.07.0'
    version = '0.1'
}

params { 
  refDir = '/home/houwaart/References/'
  refPath = '/home/houwaart/References/GRCh38_full_analysis_set_plus_decoy_hla.fa'
  email = 'torsten.houwaart@hhu.uni-duesseldorf.de'
  project_name = 'IMMGEN'
}

profiles {
    local {
        includeConfig "configs/local.config"
    }
    hilbert {
        includeConfig "configs/hilbert.config"
    }
}
