/*
 * -------------------------------------------------
 * Hilbert config 
 * -------------------------------------------------
 * Pipeline parameters specific to running Novograph on Hilbert at the HHU
 * -------------------------------------------------
 */


process {
  executor = 'pbspro'
  time = '71h59m'
  cpus = 4
  memory = '16 GB'
  clusterOptions = '-m ae -M ' + params.email + ' -A '  + params.project_name 
}


//  errorStrategy = { task.attempt <= 3 ? 'retry' : 'finish' }
//  maxRetries = 3
params {
  max_memory = "128.GB"
  mem_per_core = true
  genome_dir = "/gpfs/project/dilthey/references/"
  genome ="${genome_dir}/GRCh38_full_plus_hs38d1_analysis_set_minus_alts.fa"
}

